*
!main.cpp

!*.txt

!chat.cpp
!datosUsuario.cpp
!listaUsuarios.cpp
!listaChats.cpp
!listaMensajes.cpp
!mensaje.cpp
!servidor.cpp
!cliente.cpp
!listaMensajesChat.cpp

!config.h
!chat.h
!datosUsuario.h
!listaUsuarios.h
!listaChats.h
!listaMensajes.h
!mensaje.h
!servidor.h
!cliente.h
!listaMensajesChat.h

!.gitignore